<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/main.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame"></div>
        <div class="midd_frame"></div>
        <div class="right_frame"></div>
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/Profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a href="" class="link_href">
                <div class="icon">
                  <img src="icon/Icons-facebook.svg" class="icon-1" />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img src="icon/Icons-instagram.svg" class="icon-1" />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img src="icon/Icons-twitter.svg" class="icon-1" />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img src="icon/Icons-linkedin.svg" class="icon-1" />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img src="icon/Icons-Youtube.svg" class="icon-1" />
                </div>
              </a>
              <a href="" class="link_href">
                <div class="icon">
                  <img src="icon/Icons-dribbble.svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="left_2-1">
              <div class="age">
                <div class="ffb">
                  <span>Age:</span>
                </div>
                <span>24</span>
              </div>
              <div class="age">
                <div class="ffb-2">
                  <span>Residence:</span>
                </div>
                <span>BD</span>
              </div>
              <div class="age">
                <div class="ffb-3">
                  <span>Freelance:</span>
                </div>
                <span class="green">Availabe</span>
              </div>
              <div class="age">
                <div class="ffb-4">
                  <span>Address:</span>
                </div>
                <span>Dhaka,Bangladesh</span>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <div class="left_3-1">
              <span class="lang">Languages</span>
              <div class="languages">
                <span>Bangla</span>
                <span>100%</span>
              </div>
              <img src="icon/Line.svg" alt="" />
              <div class="languages">
                <span>English</span>
                <span>80%</span>
              </div>
              <img src="icon/Line (1).svg" alt="" />
              <div class="languages">
                <span>Spanish</span>
                <span>60%</span>
              </div>
              <img src="icon/Line (2).svg" alt="" />
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <div class="left_3-1">
              <span class="lang">Skilss</span>
              <div class="languages" style="margin-top: 15px">
                <span>Html</span>
                <span>90%</span>
              </div>
              <img src="icon/Line (3).svg" alt="" />
              <div class="languages">
                <span>CSS</span>
                <span>85%</span>
              </div>
              <img src="icon/Line (4).svg" alt="" />
              <div class="languages">
                <span>Js</span>
                <span>80%</span>
              </div>
              <img src="icon/Line (5).svg" alt="" />

              <div class="languages">
                <span>PHP</span>
                <span>75%</span>
              </div>
              <img src="icon/Line (6).svg" alt="" />
              <div class="languages">
                <span>WordPress</span>
                <span>80%</span>
              </div>
              <img src="icon/Line (7).svg" alt="" />
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <div>Extra Skills</div>
            <div class="left_5-1">
              <img src="icon/Icons.svg" alt="" />
              <span>Bootstrap, Materialize</span>
            </div>
            <div class="left_5-1">
              <img src="icon/Icons.svg" alt="" />
              <span>Stylus, Sass, Less</span>
            </div>
            <div class="left_5-1">
              <img src="icon/Icons.svg" alt="" />
              <span>Gulp, Webpack, Grunt</span>
            </div>
            <div class="left_5-1">
              <img src="icon/Icons.svg" alt="" />
              <span>GIT Knowledge</span>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="midd_frame">
          <div class="top-frame">
            <div class="doctor">
              <span>Doctor neurologists in OHSU Hospital </span>
            </div>
            <div class="text">
              <span
                >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                volutpat feugiat placerat lobortis. Natoque rutrum semper sed
                suspendisse nunc lectus.</span
              >
            </div>
            <div class="button">
              <button>
                <span>HIRE ME</span> <img src="icon/Frame.svg" alt="" />
              </button>
            </div>
            <div class="img-doc">
              <img src="images/Your Image 1.png" alt="" />
            </div>
            <div class="spesic">
              <img src="icon/Ellipse 15.svg" alt="" class="elip-15" />
              <img src="icon/Ellipse 16.svg" alt="" class="elip-16" />
              <img src="icon/Rectangle 52.svg" alt="" class="rec-52" />
              <img src="icon/Ellipse 12.svg" alt="" class="elip-12" />
              <img src="icon/Ellipse 13.svg" alt="" class="elip-13" />
              <img src="icon/Rectangle 51.svg" alt="" class="rec-51" />
              <img src="icon/Polygon 1.svg" alt="" class="poly" />
            </div>
          </div>
          <div class="bott-frame">
            <div class="ser">
              <span>My Services</span>
            </div>
            <div class="ament">
              <div>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor
                <br />
                do amet sint. Velit officia consequat duis enim velit mollit
                <br />
                <span>Lorem ipsum</span>
              </div>
            </div>
            <div class="bott-frame-box">
              <div class="bott-box">
                <div class="bott-icons">
                  <img src="box_images/coding.svg" alt="" />
                </div>
                <div class="bott-text">Web Development</div>
                <div class="bott-items">Blog, E-Commerce</div>
              </div>

              <div class="bott-box">
                <div class="bott-icons">
                  <img src="box_images/illustration.svg" alt="" />
                </div>
                <div class="bott-text">UI/UX Design</div>
                <div class="bott-items">Mobile App, Website Design</div>
              </div>
              <div class="bott-box">
                <div class="bott-icons">
                  <img src="box_images/Microphone.svg" alt="" />
                </div>
                <div class="bott-text">Sound Design</div>
                <div class="bott-items">Voise Over, Beat Making</div>
              </div>
              <div class="bott-box">
                <div class="bott-icons">
                  <img src="box_images/game-development.svg" alt="" />
                </div>
                <div class="bott-text">Gaming Design</div>
                <div class="bott-items">Character Design, Props & Objects</div>
              </div>
              <div class="bott-box">
                <div class="bott-icons">
                  <img src="box_images/Photographer.svg" alt="" />
                </div>
                <div class="bott-text">Photographer</div>
                <div class="bott-items">Portrait, Product Photography</div>
              </div>
              <div class="bott-box">
                <!-- <div class="bott-icons-1">
                  <img src="box_images/coding.svg" alt="" />
                </div> -->
                <div class="bott-text-1">Advertising</div>
                <div class="bott-items-1">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Vitaebr nulla diam in ac dictum a urna Viverra Morbi
                </div>
                <div class="yel">
                  <a href=""
                    >ORDER NOW <img src="icon/Frame (1).svg" alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right_frame">
          <div class="cons">
            <a href=""><img src="btn_icon/Contrast.svg" alt="" /></a>
          </div>
          <div class="home-icon">
            <div class="ellips" style="background: #fbb400">
              <a href=""><img src="btn_icon/Home.svg" alt="" /></a>
            </div>
            <div class="ellips">
              <a href=""><img src="btn_icon/file-code.svg" alt="" /></a>
            </div>
            <div class="ellips">
              <a href=""><img src="btn_icon/cv.svg" alt="" /></a>
            </div>
            <div class="ellips">
              <a href=""><img src="btn_icon/Vector.svg" alt="" /></a>
            </div>
            <div class="ellips">
              <a href=""><img src="btn_icon/Blog.svg" alt="" /></a>
            </div>
            <div class="ellips">
              <a href=""><img src="btn_icon/Contact.svg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
